@model AspNetMvcCourse.Models.Student

@{
    ViewBag.Title = "Delete";
}

<h2 class="my-3">Delete @Model.Name</h2>

<p class="alert alert-info">
    Are you sure you want to delete the student @Model.Name?
</p>

<dl>
    <dt>
        @Html.DisplayNameFor(model => model.IcNumber)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.IcNumber)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.MatricNumber)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MatricNumber)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DateOfBirth)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DateOfBirth)
    </dd>

</dl>

<div class="form-group">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <button type="submit" class="btn btn-primary">Delete</button>
        <a href="@Url.Action("Index")" class="btn btn-link">
            &larr; Cancel
        </a>
    }
</div>
