@model AspNetMvcCourse.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2 class="my-3">@(Model.Name ?? "John Doe")</h2>

<dl>
    <dt>
        IC Number
    </dt>
    <dd>
        @Html.DisplayFor(model => model.IcNumber)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.MatricNumber)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MatricNumber)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DateOfBirth)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DateOfBirth)
    </dd>
</dl>

<div class="form-group">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-secondary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-link" })
</div>