@using AspNetMvcCourse.Models
@model IEnumerable<AspNetMvcCourse.Models.Payment>

@{
    ViewBag.Title = "Students' Payments";
    var student = (Student) ViewBag.Student;
}

<h2 class="my-3">Payments for @Html.DisplayFor(s => student.Name)</h2>

<div class="form-group">
    @Html.ActionLink("New Payment", "Create", new { id = student.Id }, new { @class = "btn btn-outline-primary" })
    @Html.ActionLink("Student Details", "Details", "Students", new { id = student.Id }, new { @class = "btn btn-link" })
</div>

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PaymentDate)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.Amount)</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var payment in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(item => payment.PaymentDate)</td>
                    <td>@Html.DisplayFor(item => payment.Description)</td>
                    <td>@Html.DisplayFor(item => payment.Amount)</td>
                    <td>
                        @using (Html.BeginForm("Delete", "Payments", new { id = payment.Id }))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure?');">Delete</button>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
